* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  width: 100%;
  height: 100vh;
}

header {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #072342, #040c17);
}

.cursor-follower {
  width: 2rem;
  height: 2rem;
  border: 2px solid #b1b1b1;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
  pointer-events: none;
}

.cursor-follower-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #b1b1b1;
  position: fixed;
  transform: translate(-50%, -50%);
  transition: transform 0.5s;
  pointer-events: none;
}