@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue-Medium.eot');
    src: url('fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeue-Medium.woff2') format('woff2'),
        url('fonts/HelveticaNeue-Medium.woff') format('woff'),
        url('fonts/HelveticaNeue-Medium.ttf') format('truetype'),
        url('fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue-Bold.eot');
    src: url('fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('fonts/HelveticaNeue-Bold.woff') format('woff'),
        url('fonts/HelveticaNeue-Bold.ttf') format('truetype'),
        url('fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue-Light.eot');
    src: url('fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeue-Light.woff2') format('woff2'),
        url('fonts/HelveticaNeue-Light.woff') format('woff'),
        url('fonts/HelveticaNeue-Light.ttf') format('truetype'),
        url('fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue-Roman.eot');
    src: url('fonts/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeue-Roman.woff2') format('woff2'),
        url('fonts/HelveticaNeue-Roman.woff') format('woff'),
        url('fonts/HelveticaNeue-Roman.ttf') format('truetype'),
        url('fonts/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: #E2E2E2;
}
.header {
    max-width: 1200px;
    margin: auto;
    height: 60px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.nav a {
    color: #111;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.5s ease;
}
.nav :not(.center) a:hover {
    color:#3d3d3d;
}
.nav .left_nav,
.nav .right_nav {
    display: flex;
    gap: 40px;
    font-size: 18px;
}
.nav .center {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.nav .center a {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
.main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    position: relative;
}
.main .h1 {
    font-size: 280px;
    font-weight: 400;
    line-height: 0.8;
    color: #222;
    letter-spacing: -5px;
    margin-top: 150px;
    margin-bottom: 135px;
}
.img_area {
    position: relative;
}
.img_area > div {
    overflow: hidden;
    cursor: pointer;
}
.img_area > div img {
    transform: scale(1);
    transition: all 0.5s ease;
}
.img_area > div:hover img {
    transform: scale(1.1);
}
.left_img {
    position: absolute;
    left: 42%;
    top: -75px;
    width: 190px;
    height: 190px;
}
.center_img {
    position: absolute;
    left: 53%;
    top: 20px;
    width: 200px;
    height: 210px;
}
.right_img {
    position: absolute;
    right: 15%;
    top: -200px;
    width: 210px;
    height: 310px;
}
.left_img img,
.center_img img,
.right_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottom_area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
     margin-top: 200px;
}
.left_bottom_top {
    max-width: 250px;
}
.left_bottom_top h3,
.left_bottom_top h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
.left_bottom_top p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}
.left_bottom_top h4 {
    margin-top: 30px;
}
.left_bottom_bottom {
    margin-top: 50px;
}
.left_bottom_bottom a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
    font-style: italic;
}
.right_bottom a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    color: #111;
    transform: scale(1);
    transition: all 0.5s ease;
}
.right_bottom a svg {
    width: 20px;
    height: 20px;
}
.right_bottom a:hover {
    transform: scale(1.05);
}
@media (max-width: 1920px) {
    .bottom_area {
        margin-top: 280px;
    }
}
@media (max-width: 1500px) {
    .main .h1 {
        margin-top: 100px;
    }
    .bottom_area {
        margin-top: 150px;
    }
}
@media (max-width: 1366px) {
    .main .h1 {
        margin-top: 50px;
        margin-bottom: 130px;
    }
    .bottom_area {
        margin-top: 90px;
    }
}
@media (max-width: 1280px) {
    .main .h1 {
        margin-bottom: 90px;
    }
    .left_img {
        top: -65px;
        width: 180px;
        height: 180px;
    }
    .center_img {
        width: 190px;
        height: 195px;
    }
    .right_img {
        top: -158px;
        width: 210px;
        height: 280px;
    }
}

@media (max-width: 1199px) {
    .main .h1 {
        font-size: 230px;
    }
    .left_img {
        top: -43px;
        width: 145px;
        height: 145px;
        left: 41%;
    }
    .center_img {
        width: 145px;
        height: 145px;
    }
    .right_img {
        top: -146px;
        width: 170px;
        height: 260px;
        right: 18%;
    } 
}
@media (max-width: 991px) {
    .main .h1 {
        font-size: 170px;
    }
    .left_img {
        width: 100px;
        height: 100px;
    }
    .center_img {
        left: 52%;
        width: 110px;
        height: 110px;
        top: 5px;
    }
    .right_img {
        top: -130px;
        width: 120px;
        height: 190px;
        right: 19%;
    }
    .left_bottom_bottom a,
    .right_bottom a {
        font-size: 20px;
    }
    .nav .left_nav, .nav .right_nav {
        gap: 20px;
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .main .h1 {
        font-size: 70px;
        letter-spacing: -2px;
        margin-bottom: 30px;
        margin-top: 80px;
    }
    .nav {
        flex-wrap: wrap;
    }
    .nav .center {
        order: 1;
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }
    .nav .left_nav, .nav .right_nav {
        order: 2;
        gap: 10px;
        font-size: 14px;
    }
    .img_area {
        display: flex;
        gap: 10px;
    }
    .img_area > div {
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        height: 200px;   
    }
    .left_bottom_bottom {
        margin-top: 20px;
    }
    .bottom_area {
        margin-top: 50px;
        margin-bottom: 30px;
        flex-wrap: wrap;
        gap: 20px;
    }
    
}