* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #010101;
  height: 100vh;
}

.cursor {
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: fixed;
  border-radius: 50%;
  top: -25px;
  left: -25px;
}